header {
  width: 100%; }
  header .tophead {
    margin: 0 auto;
    height: 81px;
    width: 980px; }
  header .headContainer {
    margin: 0 auto;
    text-align: center;
    width: 980px; }
  header .searchbar {
    display: inline-block; }
  header h2 {
    display: inline-block; }
  header .rightbar {
    display: inline-block; }
    header .rightbar li {
      display: inline-block; }

navbar {
  text-align: center;
  width: 980px;
  margin: 0 auto;
  display: block; }

.wrapper {
  margin: 0 auto;
  width: 980px; }

.sidebar {
  float: left;
  width: 25%; }
