$fontblue: #0092B7;
$btnblue: #2BA8C6;
$orange: #F76400;
$fontgrey: #666;
$bordercolor: #E1E3DF;


@mixin borderkit {
  border-radius: 3px;
  background-color: white;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
}


body{
  background-color: #F5F5F1;
}
header{
  width: 100%;
  background-color: white;

  
  .topHead{
    border-bottom: 1px solid $bordercolor;
    height: 100px;
  }

  .headContainer{
    margin: 0 auto;
    text-align: center;
    width: 980px;
    height: 100px;
      h2{
        font-family: 'times new roman';
        font-weight: 400;
        color: $orange;
        font-size: 2.5em;
        display: inline-block;
      }
  }
    .leftbar{
      float: left;
      height: 100px;
      h2{
        display: inline-block;
      }
      .searchbar{
        display: inline-block;
      }
    }
    .rightbar{
      display: inline-block;
      float: right;
      margin-top: 50px;

      li{
        display: inline-block;
        padding-right: 10px;
        a{
         text-decoration: none;

        }
      }
    }
}

navbar{
  text-align: center;
  width: 980px;
  height: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  padding: 15px 0;
  a{
    text-decoration: none;
    color: $fontgrey;
    padding: 0px 10px;
    font-size: 13px;
    float: left;
  }
}

.wrapper{
  margin: 0 auto;
  width: 980px;
}

.sidebar{
  float: left;
  width: 25%;
  #sidebar1{
    @include borderkit;
    font-size: 13px;
    ul{
      list-style: none;
      a{
        text-decoration: none;
        color: $fontblue;
      }
    }
  }
  #sidebar2{
    @include borderkit;
    font-size: 13px;
    .pad{
      padding: 15px;
      button {
        height: 20px;
        width: 20px;
      }
      .priceBox {
        display: inline-block;
        input {
          height: 20px;
          width: 40px;
        }
      }
    }
  }
}


.content{
  width: 75%;
  float: right;
}

.imgcontainer{
  @include borderkit;
  height: 225px;
  width: 200px;
  display: inline-block;
  font-size: 13px;
  overflow: hidden;
  img{
    width: 100%;
  }
  .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    color: $fontgrey;
  }
  .price{
   display: inline-block;
   float: right;
  }
  a{
    display: inline-block;
    float: left;
    color: #aaa;
  }
}